.profileCard {
  position: relative;
  border: 7px solid rgb(255, 0, 0);
  border-radius: 50%;
  overflow: hidden;
  animation: rotate 2s infinite;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  0% {
    border-color: rgb(227, 94, 94);
  }
  36% {
    border-color: greenyellow;
  }
  66% {
    border-color: aquamarine;
  }
  90% {
    border-color: fuchsia;
  }
  100% {
    border-color: red;
  }
}
